<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%- include('../partials/head'); %>
	<body class="is-preload">
		<div id="page-wrapper">

            <!-- Header -->
            <div id="header">
                <!-- Logo -->
                <%- include ../partials/logo -%>
            </div>
 
			<!-- Main -->
            <section class="wrapper style1">
                <div class="centered container">
                    <div id="content">
                        <!-- Content -->
                        <article>
                            <header>
                                <h2>Message sent!</h2>
                            </header>

                            <p>Thank you for contacting us. Your message is highly appreciated!</p>

                            <p>We will contact you as soon as possible.</p>
                            <a href="/index" class="button">Return to site</a>
                        </article>
                    </div>
                </div>
            </section>
		</div>

		<!-- Scripts -->
		<%- include ../partials/scripts -%>

	</body>
</html>