<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <!-- based on no-side bar template -->
    <% include ../partials/head %>
    <body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<% include ../partials/header %>

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article>
									<header>
										<h2>Project</h2>
										<p>Put in practice the 
                                        “WGITA – IDI Handbook on IT Audit for Supreme Audit Institutions”</p>
									</header>

									<span class="image featured"><img src="../images/project.jpg" alt="" /></span>

									<p><i>“IT Audit is an examination of implementation of IT systems to ensure that 
                                    they meet the organization’s business needs without compromising security, 
                                    privacy, cost, and other critical business elements.”</i><br/>
                                    (WGITA – IDI HANDBOOK ON IT AUDIT FOR SUPREME AUDIT INSTITUTIONS)</p>

                                    <p><i>“IT Audit is, thus, a broad term that pervades Financial Audits 
                                    (to assess the correctness and compliance to other assertions of an organization’s 
                                    financial statements), Compliance Audits (evaluation of internal controls), 
                                    and Performance Audits (to assess whether the IT Systems meet the needs of the 
                                    users and do not subject the entity to unnecessary risk)”</i><br/>
                                    (GUID 5100 PARAGRAPH 3.2)</p>

									<h3>Objectives</h3>
                                    <p>Consider the tool developed by the project not as an ended product but as a prototype. 
                                    It follows closely the approach defined in WGITA – IDI Handbook on IT Audit for 
                                    Supreme Audit Institutions.</p>

                                    <p>The main objective is to provide the users with practical guidance, 
                                    essential technical information and key audit questions needed for effective IT Audit 
                                    planning and conducting.</p>
 
                                    <h3>Active</h3>
                                    <p>The ideas was to change the existing WGITA-IDI IT Audit Handbook into 
                                    electronic Active IT Audit Manual. “Active” means here:</p>
                                    <ul>
                                        <li>presenting practical guidance, essential technical information and 
                                            key audit questions in an interactive way, which changes a 
                                            handbook into a tool</li>
                                        <li>easy to update</li>
                                        <li>gradually customized to specific needs of user – i.e. taking 
                                            into account lessons learnt from real life audits</li>
                                        <li>supporting mandatory obligations related to audit procedures 
                                            of particular SAIs</li>
                                    </ul>

                                    <h3>International</h3>
                                    <p><img src="../images/project_intro.jpg" alt="EUROSAI/INTOSAI" /></p>
                                    <p>The works on the concept and first versions were conducted during the twinning 
                                    project of Polish and Albanian SAIs (2016-2018) 
                                    and next were continued by the eGovernment Subgroup of the EUROSAI IT 
                                    Working Group and INTOSAI experts.</p>
                                    <p>From the very beginning, the Polish SAI, 
                                    who animated the project invited to collaboration experts of other SAIs, 
                                    and the Active Manual has the today’s shape thanks to this international group. 
                                    These were:</p>
                                    <ul>
                                        <li>Najwyższa Izba Kontroli of Poland (concept and tech solutions)</li>
                                        <li>Tribunal de Contas of Portugal (concept and tech solutions)</li>
                                        <li>National Audit Office of Estonia (testing)</li>
                                        <li>US Government Accountability Office (plug-ins concept)</li>
                                        <li>Icelandic National Audit Office (pre-audit assessment concept)</li>
                                        <li>Albanian SAI (first users and partners in conceptual discussions)</li>
                                    </ul>
                                    
                                    <h3>Free and Open</h3>
                                    <p>Our aim was not to build an audit support software but 
                                    to make SAIs ready to do it effectively in future, if so decided. 
                                    To make it easy to use and adapt, the desktop version of the Manual can be used with two 
                                    well known and broadly available packages of productivity software, 
                                    supported by major desktop ecosystems: <i>MSOffice</i> and <i>LibreOffice</i>. 
                                    Data are stored in XML format, which makes the tool open to other 
                                    solutions – the present and future ones.</p>
                                    <p>For coding we use <i>Visual Basic for Applications (VBA)</i> and 
                                    the <i>BASIC LibreOffice</i> scripting language – available to all experts 
                                    who would like to develop the tool further on or to tailor it to their needs.</p>
 
									<h3>ISSAI 100 Logic</h3>
                                    <p>To ensure that the audit process is preserved to enable subsequent verification, 
                                    monitoring and share of the audit analysis procedures (ISSAI 100 PARAGRAPH 42), 
                                    the tool produces:</p>
                                    <ul>
                                        <li>A template activity plan, which includes the subject, criteria and scope</li>
                                        <li>Audit matrices to help performing the audit work and recording the findings</li>
                                        <li>A central point to help the auditor interpreting and 
                                        judging against the audit questions previously raised at the planning stage.</li>
                                    </ul>
                                    <p><img src="../images/AM_logic.jpg" alt="Process logic" /></p>
 
                                    <h3>Step-By-Step</h3>
                                    <p>One of the <i>WGITA-IDI IT Audit Handbook</i>’s aims was to open access to the 
                                    IT audit to broader group of auditors. Breaking down the ‘black box’ into 
                                    clearly defined domains of the IT audit and the step-by-step journey through 
                                    all of them, proves that a lot of risks and auditee problems are similar to 
                                    those of other domains of organisation: in governance, operations, 
                                    outsourcing, security, acquisition and development. Of course – some of 
                                    the problems need high level of IT expertise – but the Manual 
                                    helps to identify them and recognise the difficulty level, which 
                                    is the first step of finding the experts and to communicate with 
                                    them efficiently.</p>
                                    <p>This ‘problem mapping’ approach was the one we wanted to apply effectively in 
                                    the <i>Active</i> version too. Its user receives the table of risk domains, subareas 
                                    and frequently spotted issues. The list turns out to be quite extensive, so 
                                    the base risk audit approach must be applied too.</p> 
                                    <p><img src="../images/DomainsEtc.jpg" alt="Domains Cascade" /></p>

                                    <h3>Open For Other Tools</h3>
                                    <p>The map of risks can be supported with data received from auditee in 
                                    the pre-assessment phase (mechanism already implemented) and from previous 
                                    audits in close areas. A second mechanism is planned to be developed in 
                                    cooperation with another project of the same EUROSAI ITWG subgroup: 
                                    "Control space of e-Government" (<b>CUBE</b>: 
                                    <a target="_blank" href="http://egov.nik.gov.pl/">egov.nik.gov.pl</a>).</p>
                                    <p>Architecture of both tools is based on XML at present, which reduces 
                                    problems on the technology side. The both tools however handle a 
                                    lot of meaningful audit related ideas and notions. What more, they 
                                    are both under recurring development, so what we perceive as a 
                                    critical problem is: coherent semantic model. This is why we look 
                                    with hope at the INTOSAI Subcommittee on Internal Control 
                                    (<a target="_blank" href="http://ics-intosai.nik.gov.pl/">ics-intosai.nik.gov.pl</a>). T
                                    he internal control relates to virtually each management task, and thus 
                                    it is under scrutiny of all types of audits.</p>

                                    <h3>Support Of Audit Process</h3>
                                    <p>The tool supported from the very beginning the concept of customization, 
                                    allowing SAI's to tailor the templates provided to their own necessities and 
                                    image. Customization can be done through script languages for supported type 
                                    of Office packages. For the moment being, we prepared exemplary templates for:</p>
                                    <ul>
                                        <li>audit programme (based on selection of risks to be verified during the audit)</li>
                                        <li>key findings (a form used to register the key findings for knowledge management purposes)</li>
                                        <li>executive summary, starting version (based on the key findings of the audit)</li>
                                    </ul>
                                    <p>The charts below present the key findings register:</p>
                                    <p><img src="../images/FndRegister.jpg" alt="Key Findings Register" /></p>
                                    <p>and the executive summary generated from the findings content:</p>
                                    <p><img src="../images/ExSum.jpg" alt="Executive Summary" /></p>   

                                    <h3>Audit Matrices</h3>
                                    <p>The Active version implements the core idea of the IT Audit Handbook, 
                                    which are audit matrices. They let auditors to deal with one issue at once, 
                                    identifying audit objective in this regard, and advising information sources, 
                                    as well as possible tests.</p>
                                    <p>The chart depicts one of the 80 standard audit matrices:</p>
                                    <p><img src="../images/HRandLogisticsAM.jpg" alt="Audit Matrix Example" /></p>

                                    <h3>Plug-Ins</h3>
                                    <p>The plug-ins for the <i>Active IT Audit Manual</i> were developed and 
                                    implemented to answer the request of frequent updates 
                                    (so common and intense in the IT world). They can also help in 
                                    enriching the Manual with experiences coming from various SAIs, 
                                    promoting share and reuse knowledge among auditors. 
                                    The plug-ins can be created from results of an interesting audit as well 
                                    as a result of the analysis of an interesting problem, 
                                    enabling to address new and emerging areas of interest for IT auditors.</p>
                                    <p>A plug-in consist of a description and set of a additional audit matrices. 
                                    The Active Manual integrates one or more of them, ready to be used by the 
                                    auditor, if decided.</p>
                                    <p>Below you can see the risk analysis table with two plug-ins added ("E-Government" 
                                    and "Open Data")</p>
                                    <p><img src="../images/riskWithPlugins.jpg" alt="Plug-ins in Risk Analysis Table" /></p>

                                    <h3>Languages</h3>
                                    <p>A support tool to help the content translation from english to other languages 
                                    was added to the desktop version of the <i>Active Manual</i>. It can be used also for 
                                    future updates or new versions of AITAM published by the EUROSAI ITWG.</p>
                                    <p><img src="../images/TranslationSupportTool.jpg" alt="Translation Support Tool" /></p>

                                    <h3>Development</h3>
                                    <p>The core part of the the Active IT Audit Manual developers are members of the 
                                    EUROSAI ITWG e-Government Subcommittee. The Subcommittee deal with both the <b>CUBE</b> 
                                    and the <i>Active Manual</i>, looking for synergies coming from cooperation between the tools. 
                                    During the last meeting in Opole, Poland in October 2018 were discussed directions of further development. 
                                    It seems that in realistic plan the CUBE can provide SAI community with:</p>
                                    <ul>
                                        <li>graph analysis, which can support auditors in looking for gaps among related findings</li>
                                        <li>mechanism of analysis of auditee’s documentation.</li>
                                    </ul>
                                    <p>In the case of the <i>Active Manual</i> we foresee:</p>
                                    <ul>
                                        <li>broadening scope to other (non-IT) topics</li>
                                        <li>covering full process of audit, i.e. adding further support for 
                                        planning, audit documentation and reporting.</li>
                                    </ul>

                                </article>

						</div>
					</div>
				</section>

			<!-- Footer -->
			<% include ../partials/footer %>

		</div>

		<!-- Scripts -->
		<%- include ../partials/scripts -%>

	</body>
</html>