               <!-- Nav -->
               <nav id="nav">
                <ul>
                    <li><a href="intro" id="top-link"><span class="icon fa-home">Welcome</span></a></li>
                    <li><a href="actions" id="portfolio-link"><span class="icon fa-th">Actions</span></a></li>
                    <li><a href="project" id="about-link"><span class="icon fa-th">Project</span></a></li>
                    <li><a href="plugins" id="about-link"><span class="icon fa-th">Plugins Catalog</span></a></li>
                    <li><a href="desktop" id="about-link"><span class="icon fa-th">Desktop version</span></a></li>
                    <li><a href="contacts" id="contact-link"><span class="icon fa-user">Contact</span></a></li>
                </ul>
            </nav>
