<script src="/assets/js/Chart.js"></script>
<section id="Statistics" class="col-6 col-12-narrower">
    <header>
        <h2></h2>
        <h2>Statistics</h2>
        <p></p>
    </header>
    <div class="container">
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <% include ./audit_statistics/DomainImportance %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <% include ./audit_statistics/DomainCharacterization %>
            </div>    
        </div>
    </div>  
</section>