<section id="contact" class="col-6 col-12-narrower">
    <header>
        <h2></h2>
        <h2>Audit Recommendations</h2>
        <p></p>
    </header>
    <% if(msg != ''){ %>
        <div class="col-12" id="save_auditrecs">
            <p>
                <span class="successformtext"><%= msg %></span><br/>
            </p>
        </div>
    <% } %>    
   <form method="POST" action="/auditrec/auditrecs">
        <div class="row gtr-50">
            <% if(reccatalog.length > 6) { %>
                <div class="col-12">
                    <ul class="actions">
                        <li><a href="/auditrec/auditrecs" class="button">Reload List</a></li>
                        <li><a href="/auditMatrices/recMatrix?id=New" class="button">Create Recommendation</a></li>
                        <% if(reccatalog.length > 0) { %>
                            <li><input type="submit" class="button alt" value="Save" /></li>
                        <% } %>
                    </ul>
                </div>        
            <% } %>
            <p>
                <% if(reccatalog.length > 0) { %>
                    <p>Use hyperlink on ID to visualize/edit the finding
                        <% if(reccatalog.length > 6) { %>
                            <br/>&nbsp;<br/>
                            <a style="border-style: none;" href="/generatedocs/rectrackreport" data-tooltip="This functionality generates a word processing document containing the audit recommendations track report"><img src="../images/export32t.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp; Track report</a>    
                        <% } %>
                    </p>
                    <table id='tablecatalog'>
                        <thead>
                            <%- include('./auditrecheader'); %>
                        </thead>    
                        <tbody>
                            <%- include('./auditrecrow'); %>
                        </tbody>
                    </table>
                    <input type="hidden" name="rows_count" id="rows_count" value="<%= reccatalog.length %>"/> 
                    <p>
                        <a style="border-style: none;" href="/generatedocs/rectrackreport" data-tooltip="This functionality generates a word processing document containing the audit recommendations track report"><img src="../images/export32t.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp; Track report</a>    
                    </p>
                <% } else { %>
                    <p>No recommendations available!</p>
                <% } %>
            </p>
            <div class="col-12">
                <ul class="actions">
                    <li><a href="/auditrec/auditrecs" class="button">Reload List</a></li>
                    <li><a href="/auditMatrices/recMatrix?id=New" class="button">Create Recommendation</a></li>
                    <% if(reccatalog.length > 0) { %>
                        <li><input type="submit" class="button alt" value="Save" /></li>
                    <% } %>
            </ul>
            </div>
        </div>
    </form>
</section>
<!-- javascript is placed in the body section -->
<script>
    //it takes two parameters: the select control id as well the image control id associated in order to to change display
    function showInclude(elem, ctrlImg){
        if(elem.value == 'Yes') {
            //try: "inline-block"
            document.getElementById(ctrlImg).style.display = "inline-block"; //opposite: "none"
        } else {
            document.getElementById(ctrlImg).style.display = "none"; //opposite: "none"
        }
    }
</script>
