<% preassesscatalog.forEach(function(item) { %>
    <tr>
        <td>
            <%= item.Area %>
        </td>
        <td>
            <a href="/auditMatrixes/preassessMatrix?area=<%= item.AreaId %>&issue=<%= item.IssueId %>"><%= item.Issue %></a>
        </td>
    </tr>
<% }) %>
    