			<!-- Banner -->
            <section id="banner">
                <header>
                    <h2>Active IT Audit Manual: <em>A project of ITWG/EUROSAI and WGITA/INTOSAI</em></h2>
                    <a href="/portal/project" class="button">Learn More</a>
                </header>
            </section>
