              <!-- Social Icons -->
              <ul class="icons">
                <li><a href="https://github.com/joaocarloscardoso/AITAM" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
                <li><a href="http://eurosai-it.org/" class="icon fa-dribbble" target="_blank"><span class="label">web</span></a></li>
                <li><a href="mailto:eurosaiwgit@nik.gov.pl" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
