			<!-- CTA -->
            <section id="cta" class="wrapper style3">
                <div class="container">
                    <header>
                        <h2>Are you ready to start?</h2>
                        <a href="/portal/toolindex" class="button">Create Audit</a>
                    </header>
                </div>
            </section>