				<!-- desktop -->
                <section id="desktop" class="three">
                    <div class="container">
                        <header>
                            <h2 class="alt">Desktop version</h2>
                            <p>New version 2.x</p>
                        </header>
                        <footer>
                            <p class="text">The desktop version is provided as a zip folder. It contains a spreadsheet (in MS Excel or LibreOffice Calc) 
                            as a control dashboard  for the audit development and several matrixes templates. Once extracted, all files 
                            must be kept in the same folder and subfolders.</p>
                            <p class="text">
                                <a target="_blank" href="https://onedrive.live.com/?authkey=!AGwKP7IDEkO56vI&id=9AE3DF5D4E1A32A9!6037&cid=9AE3DF5D4E1A32A9" id="top-link">Download the desktop version</a>
                                <br/><span class="smalltext">(The name of the zip file have the following structure: 
                                    3 characters for version + date version as yyyymmdd + last compilation for date)</span>
                            </p>
                            <p class="text">The internal behavior of the spreadsheet, as well of some text templates, was customized through macros, in VBA/BASIC. 
                            To help the code inspection is full commented in English. It only references functions and objects (late binding) 
                            pre-installed in OS (no need to reference additional libraries). </p>
                            <p class="text">So, you have to enable macros!Review and clear security options 
                            related with macros and protected view in the text editor!</p>
                            <p class="text">Version 2.x:</p>
                            <ul>
                                <li class="indent">Was developed under stable, wide accepted and (even) open productivity software.<br/>
                                    <img src="images/desktop_software1.jpg" alt="Desktop software" />
                                    <img src="images/desktop_software2.jpg" alt="Desktop software" />
                                </li>
                                <li class="indent">Support's the major desktop ecosystems.<br/>
                                    <img src="images/ecosystems1.jpg" alt="Ecosystems supported" />
                                    <img src="images/ecosystems2.jpg" alt="Ecosystems supported" />
                                    <img src="images/ecosystems3.jpg" alt="Ecosystems supported" />
                                </li>
                                <li class="indent">Within the same “family” of macro scripting languages<br/>
                                    <img src="images/scripting_language1.jpg" alt="Macro scripting languages" />
                                    <img src="images/scripting_language2.jpg" alt="Macro scripting languages" />
                                </li>    
                            </ul>
                        </footer>
                    </div>
                </section>
 