			<!-- Footer -->
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <%- include('relatedlinks'); -%>
                    </div>
                </div>

                <!-- Icons 
                    <ul class="icons">
                        <li><a target="_blank" href="https://github.com/joaocarloscardoso/AITAM" class="icon fa-github"><span class="label">GitHub</span></a></li>
                    </ul>
                -->
                <!-- Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; KNAO project. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>

            </div>


