			<!-- Gigantic Heading -->
            <section class="wrapper style2">
                <div class="container">
                    <header class="major">
                        <h2>The tool is based on the IT Audit Manual</h2>
                        <p>Have the essential objective of helping the auditor to plan and conduct IT audits</p>
                    </header>
                </div>
            </section>