    <head>
		<title>KNAO Recommendations Tracking System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--custom pop-up modal-->
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<% if(errors){ %>
			<script type="text/javascript" language="javascript">
				function moveWindow (){window.location.hash="contact";}
			</script>
		<% } %>
	</head>
