    <head>
		<title>Active IT Audit Manual</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--w2ui grid-->
		<link rel="stylesheet" type="text/css" href="/assets/css/w2ui-1.5.rc1.min.css" />
        <!--custom pop-up modal-->
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<!--w2ui grid-->
        <script src="/assets/js/w2ui-1.5.rc1.min.js"></script>
		
		<% if(errors){ %>
			<script type="text/javascript" language="javascript">
				function moveWindow (){window.location.hash="contact";}
			</script>
		<% } %>
	</head>
