			<!-- Highlights -->
            <section class="wrapper style1">
                <div class="container">
                    <div class="row gtr-200">
                        <section class="col-4 col-12-narrower">
                            <div class="box highlight">
                                <i class="icon major fa-wrench"></i>
                                <h3><a href="#">Tool</a></h3>
                                <p>Use this web version to start a new audit or
                                    to load and edit an ongoing audit.</p>
                            </div>
                        </section>
                        <section class="col-4 col-12-narrower">
                            <div class="box highlight">
                                <i class="icon major fa-pencil"></i>
                                <h3><a href="#">Desktop</a></h3>
                                <p>Use the desktop version in offline environments. It contains a spreadsheet (in MS Excel or LibreOffice Calc) 
                            as a control dashboard  for the audit development and several matrixes templates.
                                </p>
                            </div>
                        </section>
                        <section class="col-4 col-12-narrower">
                            <div class="box highlight">
                                <i class="icon major fa-paper-plane"></i>
                                <h3><a href="#">Plug-ins</a></h3>
                                <p>Find here the catalog of plug-ins, available for use online or download and integration with desktop version.</p>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

