				<!-- Intro -->
                <section id="/open?action=intro" class="one dark cover">
                    <div class="container">

                        <header>
                            <h2 class="alt">The Active IT Audit Manual  tool is based on the IT Audit Handbook 
                                and have the essential objective of helping the auditor to plan and conduct IT audits
                            </h2>
                            <p>Press the button bellow to start a new audit or<br />
                            to load and edit an ongoing audit.</p>
                        </header>

                        <footer>
                            <a href="/open?action=actions" class="button scrolly">Actions</a>
                        </footer>

                    </div>
                </section>

 