                <!-- Logo -->
            <div>
                <h3><img id="logo" src="../images/logo_kosovo.png" alt="Republic of Kosovo" style="vertical-align: text-bottom; display: inline-block;"/>
                    <span style="vertical-align: top;"><%= webcontent.main.country %></span>
                </h3>
                <h1><span style="font-size:27px; vertical-align: top;"><%= webcontent.main.sai %></span></h1>
            </div>
