                <!-- Logo -->
                <div id="logo">
                    <span class="image avatar48"><img src="/images/avatar.jpg" alt="" /></span>
                    <h1 id="title">AITAM</h1>
                    <p>Active IT Audit Handbook</p>
                </div>
