           <!-- Nav -->
           <nav id="nav">
                <ul>
                    <!--selected menu item controlled through class="current" in li element -->
                    <%  if (action == 'home') { %>
                        <li class="current">
                    <% } else { %>
                        <li>
                    <% } %>
                    <a href="/index">Home</a></li>
                    <%  if (audit) { %>
                    <li>
                        <a href="#">The audit</a>
                        <ul>
                            <li><a href="/toolaudit/toolauditreference">Reference</a></li>
                            <li><a href="/toolaudit/toolauditplugins">Plug-ins</a></li>
                            <li><a href="/preassessaudit/auditpreassessment">Preliminary activities</a></li>
                            <li><a href="/planaudit/auditplanning">Plan</a></li>
                            <li><a href="/findingaudit/auditfindings">Findings</a></li>
                            <li>
                                <a href="#">Analytics</a>
                                <ul>
                                    <li><a href="/toolaudit/auditstatistics">Domain characterization</a></li>
                                    <li><a href="/analytics/Recommendations">Recommendations</a></li>
                                    <li><a href="/analytics/Findings">Findings analysis</a></li>
                                    <li><a href="/analytics/SentimentFindings">Sentiment analysis on findings</a></li>
                               </ul>
                            </li>
                            <li><a target="_blank" href="/toolaudit/work/download">Download</a></li>
                            <li><a href="/work/delete">Close Audit File</a></li>
                        </ul>
                    </li>
                    <% } %>
                    <%  if (action == 'tool') { %>
                        <li class="current">
                    <% } else { %>
                        <li>
                    <% } %>
                    <a href="/portal/tool">Tool</a></li>
                    <%  if (action == 'project') { %>
                        <li class="current">
                    <% } else { %>
                        <li>
                    <% } %>
                    <a href="/portal/project">Project</a></li>
                    <li><a href="#contact">Get In Touch</a></li>
                 </ul>
            </nav>
