            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <!--selected menu item controlled through class="current" in li element -->
                    <li><a href="/portal/rectracking?lang=<%= language %>"><%= webcontent.main.module %></a></li>
                    <li>
                        <a href="#">Language</a>
                        <ul>
                            <li><a href="/portal/rectracking?lang=EN">English (EN)</a></li>
                            <li><a href="/portal/rectracking?lang=SQ">Shqiptare (SQ)</a></li>
                            <li><a href="/portal/rectracking?lang=SR">Srpski (SR)</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
