            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <!--selected menu item controlled through class="current" in li element -->
                    <li><a href="/portal/rectracking">Recommendations Tracking System</a></li>
                    <li><a href="#contact">Get In Touch</a></li>
                </ul>
            </nav>
