           <!-- Nav -->
           <nav id="nav">
                <ul>
                    <!--selected menu item controlled through class="current" in li element -->
                    <%  if (action == 'home') { %>
                        <li class="current">
                    <% } else { %>
                        <li>
                    <% } %>
                    <a href="home">Home</a></li>
                    <%  if (action == 'audit') { %>
                    <li>
                        <a href="#">The audit</a>
                        <ul>
                            <li><a href="#">Reference</a></li>
                            <li><a href="#">Plug-ins</a></li>
                            <li><a href="#">Preliminary activities</a></li>
                            <li><a href="#">Plan</a></li>
                            <li><a href="#">Statistics</a></li>
                            <li><a href="#">Findings</a></li>
                            <li><a href="#">Close</a></li>
                        </ul>
                    </li>
                    <% } %>
                    <%  if (action == 'tool') { %>
                        <li class="current">
                    <% } else { %>
                        <li>
                    <% } %>
                    <a href="tool">Tool</a></li>
                    <%  if (action == 'project') { %>
                        <li class="current">
                    <% } else { %>
                        <li>
                    <% } %>
                    <a href="project">Project</a></li>
                    <li><a href="#contact">Get In Touch</a></li>
                 </ul>
            </nav>
