<tr>
    <td scope="row">1</td>
    <td><a target="_blank" href="/public/plugins/land.xml">File1</a></td>
    <td>Ref1</td>
    <td>Description1</td>
    <td>Not Available</td>
    <td>Version1</td>
    <td>en, pl</td>
    <td>Date1</td>
    <td>300 kb</td>
</tr>
