
            <!-- plugins -->
            <section id="plugins" class="three">
                <div class="container">

                    <header>
                        <h2>Catalog of plugins available for download</h2>
                    </header>

                <div class="row">
                    <br/>
                    <table >
                        <thead >
                            <tr>
                                <th>#</th>
                                <th>File</th>
                                <th>Reference</th>
                                <th>Description</th>
                                <th>Origin</th>
                                <th>Version</th>
                                <th>Date</th>
                                </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>File1</td>
                                <td>Ref1</td>
                                <td>Description1</td>
                                <td>SAI 1</td>
                                <td>Version1</td>
                                <td>Date1</td>
                            </tr>
                            <tr>
                                <td scope="row">2</td>
                                <td>File2</td>
                                <td>Ref2</td>
                                <td>Description2</td>
                                <td>SAI 2</td>
                                <td>Version2</td>
                                <td>Date2</td>
                            </tr>
                            <tr>
                                <td scope="row">3</td>
                                <td>File3</td>
                                <td>Ref3</td>
                                <td>Description3</td>
                                <td>SAI 3</td>
                                <td>Version3</td>
                                <td>Date3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
