<section class="col-6 col-12-narrower">
    <div class="box post">
        <a href="#" class="image left"><img src="images/pic04.jpg" alt="" /></a>
        <div class="inner">
            <h3>Open for other tools</h3>
            <p>The map of risks can be supported with data received from auditee in the pre-assessment 
                phase (mechanism already implemented) and from previous audits in close areas. 
                A second mechanism is planned to be developed in cooperation with another project of 
                the same EUROSAI ITWG subgroup: ‘Control space of –e-Government’ (<a target="_blank" href="http://egov.nik.gov.pl/">The Cube</a>). 
            </p>
        </div>
    </div>
</section>
