<section class="col-6 col-12-narrower">
    <div class="box post">
        <a href="#" class="image left"><img src="images/pic01.jpg" alt="" /></a>
        <div class="inner">
            <h3>Active</h3>
            <p>The ideas was to change the existing WGITA-IDI IT Audit Handbook into electronic Active 
                IT Audit Manual. “Active” means here: 
                <ul>
                    <li>presenting practical guidance, essential technical information and key audit questions in an interactive way, which changes a handbook into a tool</li>
                    <li>easy to update</li>
                    <li>gradually customized to specific needs of user – i.e. taking into account lessons learnt from real life audits</li>
                    <li>supporting mandatory obligations related to audit procedures of particular SAIs</li>
                </ul>
            </p>
        </div>
    </div>
</section>
