<section class="col-6 col-12-narrower">
    <div class="box post">
        <a href="#" class="image left"><img src="images/pic03.jpg" alt="" /></a>
        <div class="inner">
            <h3>ISSAI 100 logic</h3>
            <p>To ensure that the audit process is preserved to enable subsequent verification, 
                monitoring and share of the audit analysis procedures (ISSAI 100 PARAGRAPH 42), the tool produces:
                <ul>
                    <li>A template activity plan, which includes the subject, criteria and scope</li>
                    <li>Audit matrices to help performing the audit work and recording the findings</li>
                    <li>A central point to help the auditor interpreting and judging against the audit questions previously raised at the planning stage.</li>
                </ul>
            </p>
        </div>
    </div>
</section>
