<section class="col-6 col-12-narrower">
    <div class="box post">
        <a href="#" class="image left"><img src="images/pic02.jpg" alt="" /></a>
        <div class="inner">
            <h3>Free and open</h3>
            <p>Our aim was not to build an audit support software but to make SAIs ready to do it 
                effectively in future, if so decided. To make it easy to use and adapt, the Manual 
                can be used in web or with two well known and broadly available packages of productivity software, 
                supported by major desktop ecosystems: MSOffice and LibreOffice. 
                Data are stored in XML format, which makes the tool open to other solutions – 
                the present and future ones. For coding we use Visual Basic for Applications (VBA) 
                and the BASIC LibreOffice scripting language – available to all experts who would 
                like to develop the tool further on or to tailor it to their needs.
            </p>
        </div>
    </div>
</section>
