			<!-- Posts -->
            <section class="wrapper style1">
                <div class="container">
                    <div class="row">
                        <%- include('post01'); -%>
                        <%- include('post02'); -%>
                    </div>
                    <div class="row">
                        <%- include('post03'); -%>
                        <%- include('post04'); -%>
                    </div>
                </div>
            </section>
