            <!-- project -->
                <section id="project" class="three">
                    <div class="container">

                        <header>
                            <h2>About the project</h2>
                        </header>

                        <p><i>“IT Audit is an examination of implementation of IT systems to ensure that 
                        they meet the organization’s business needs without compromising security, 
                        privacy, cost, and other critical business elements.”</i><br/>
                        (WGITA – IDI HANDBOOK ON IT AUDIT FOR SUPREME AUDIT INSTITUTIONS)</p>
                        <p><i>“IT Audit is, thus, a broad term that pervades Financial Audits 
                        (to assess the correctness and compliance to other assertions of an organization’s 
                        financial statements), Compliance Audits (evaluation of internal controls), 
                        and Performance Audits (to assess whether the IT Systems meet the needs of the 
                        users and do not subject the entity to unnecessary risk)”</i><br/>
                        (ISSAI 5300 PARAGRAPH 3.2)</p>
                        <p class="text">The “ActiveITAuditManual” tool have the essential objective of putting in practice the 
                        “WGITA – IDI Handbook on IT Audit for Supreme Audit Institutions”, thus helping the 
                        auditor with information essential to plan an IT Audit, findings collection 
                        and knowledge sharing.</p>
                        <p class="text">Consider this tool not as an ended product but as a prototype. 
                        It follows closely the approach defined in WGITA – IDI Handbook on IT Audit for 
                        Supreme Audit Institutions.</p>
                        <p class="text">The main objective is to provide the users with practical guidance, 
                        essential technical information and key audit questions needed for effective IT Audit 
                        planning and conducting.</p>
                        <p class="text">The full process diagram can be see next:</p>
                        <img src="images/project_process.jpg" alt="Process" />
                        <p class="text">It’s important to ensure that the audit process is preserved to enable 
                        subsequent verification, monitoring and share of the audit analysis procedures (ISSAI 100 PARAGRAPH 42). 
                        This involves documenting:</p>
                        <ul>
                                <li class="indent">The plan, scope and objectives,</li>
                                <li class="indent">Audit program,</li>
                                <li class="indent">Evidences collected.</li>
                        </ul>
                        <p class="text">A template activity plan, which includes the subject, criteria and scope 
                        is produced, as well audit matrices to help recording the findings during the IT audit conduct. 
                        These matrices are actually taken from the annexes of the WGITA – IDI Handbook on IT Audit 
                        for Supreme Audit Institutions and can be used by the auditors as working papers.</p>
                        <p class="text">The obtained findings can be latter collected in a central point to help 
                        the auditor interpreting and judging against the audit questions previously raised at 
                        the planning stage. They also form the core of the information to share with the 
                        community, along with references for the published audit report, in the project” 
                        Control Space of e-Government” (the CUBE), an EUROSAI Initiative.</p>
                        
                    </div>
                </section>

 