<section class="col-3 col-6-narrower col-12-mobilep">
    <h3>Links</h3>
    <ul class="links">
        <!--max entries: 7-->
        <li><a target="_blank" href="http://eurosai-it.org/">EUROSAI IT Working Group</a></li>
        <li><a target="_blank" href="http://www.intosaiitaudit.org/">INTOSAI Working Group on IT Audit</a></li>
        <li><a target="_blank" href="https://www.eurosai.org/">EUROSAI</a></li>
        <li><a target="_blank" href="http://www.intosai.org/">INTOSAI</a></li>
    </ul>
</section>
<section class="col-3 col-6-narrower col-12-mobilep">
    <h3>Tools and repository</h3>
    <ul class="links">
         <!--max entries: 7-->
         <li><a target="_blank" href="http://egov.nik.gov.pl/">The Cube</a></li>
        <li><a target="_blank" href="https://github.com/joaocarloscardoso/AITAM">Project repository (GitHub)</a></li>
    </ul>
</section>
