<section class="col-3 col-6-narrower col-12-mobilep">
    <h3><%= webcontent.main.externallinks %></h3>
    <ul class="links">
        <!--max entries: 7-->
        <li><a target="_blank" href="http://www.zka-rks.org/en/">National Audit Office website</a></li>
        <li><a target="_blank" href="http://www.kuvendikosoves.org/">Assembly</a></li>
        <li><a target="_blank" href="https://www.rks-gov.net/">State Portal</a></li>
    </ul>
</section>

