<script src="/assets/js/Chart.js"></script>
<section id="Statistics" class="col-6 col-12-narrower">
    <header>
        <h2></h2>
        <h2>Findings analysis</h2>
        <p></p>
    </header>
    <div class="container">
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <% include ./FindingsGeneral %>
            </div>    
        </div>
        <p>&nbsp;</p>
        <hr/>
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <% include ./FindingsDomain01 %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <% include ./FindingsDomain02 %>
            </div>    
            <p>&nbsp;</p>
        </div>
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <% include ./FindingsDomain03 %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <% include ./FindingsDomain04 %>
            </div>    
            <p>&nbsp;</p>
        </div>
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <% include ./FindingsDomain05 %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <% include ./FindingsDomain06 %>
            </div>    
            <p>&nbsp;</p>
        </div>
        <div class="row gtr-200">    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
                <% include ./FindingsDomain07 %>
            </div>    
            <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
            </div>    
            <p>&nbsp;</p>
        </div>
    </div>
    <p></p>
</section>