<table style=" border-collapse: separate; border-spacing: 8px;">
    <thead>
        <tr>
            <th style="text-align:center">Negative</th>
            <th style="text-align:center">Neutral / Mixed</th>
            <th style="text-align:center">Positive</th>
        </tr>
    </thead>
    <tbody>
        <tr style="display: table-row;">
            <td style="background-color:red; color:white; text-align:center">
                <span>-1.00 to -0.25</span>
            </td>
            <td style="background-color:yellow; color:black; text-align:center">
                <span>-0.25 to 0.25</span>
            </td>
            <td style="background-color:green; color:white; text-align:center">
                <span>0.25 to 1.00</span>
            </td>
        </tr>
    </tbody>
</table>
