<section id="contact" class="col-6 col-12-narrower">
    <header>
        <h2></h2>
        <h2>Sentiment analysis on findings </h2>
        <p>Trigger this analysis to measure attitude towards findings. The emotional tone is collected from findings description.
        <br/>Sentences are discovered using tokenizers and analyzed through AFINN algorithm.
        </p>
    </header>
    <% if(msg != ''){ %>
        <div class="col-12" id="save_auditplan">
            <p>
                <span class="successformtext"><%= msg %></span><br/>
            </p>
        </div>
    <% } %>    
    <% if(Matrix.length > 0) { %>
        Use hyperlink on ID to visualize detailed analysis of the finding<br/>&nbsp;<br/>
        <div class="col-4 col-12-narrower" style="width: 600px; height: 400px;">
            <table style=" border-collapse: separate; border-spacing: 8px;">
                <thead>
                    <% include ./sentimentdocumentheader %>
                </thead>    
                <tbody>
                    <% include ./sentimentdocumentrow %>
                </tbody>
            </table>
            <p></p>
            <% include ./sentimentrange %>
        </div>
    <% } else { %>
        <p>No findings with descriptions filled were discovered yet for analysis!</p>
    <% } %>
</section>
