<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<!-- based on right-side bar template -->
    <% include partials/head %>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<% include partials/header %>

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-narrower">
								<div id="content">

									<!-- Content -->

										<article>
											<header>
												<h2>Desktop version</h2>
												<p>Ready to work off-line or in environments with weak networks</p>
											</header>

											<span class="image featured"><img src="images/desktop.jpg" alt="" /></span>

											<p>The desktop version is provided as a zip folder. It contains a spreadsheet 
											(in <i>MS Office Excel</i> or <i>LibreOffice Calc</i>) 
											as a control dashboard  for the audit development and several matrixes templates. Once extracted, all files 
											must be kept in the same folder and subfolders.</p>

											<p>The internal behavior of the spreadsheet, as well of some text templates, was customized through macros, in <i>VBA/BASIC</i>. 
											To help the code inspection is full commented in English. It only references functions and objects (late binding) 
											pre-installed in OS (no need to reference additional libraries). </p>

											<p>Open-source and cross-platform:</p>
											<ul>
												<li>Was developed under stable, wide accepted and (even) open productivity software.<br/>
													<img src="images/desktop_software1.jpg" alt="Desktop software" />
													<img src="images/desktop_software2.jpg" alt="Desktop software" />
													<br/>&nbsp;
												</li>
												<li>Support's the major desktop ecosystems.<br/>
													<img src="images/ecosystems1.jpg" alt="Ecosystems supported" />
													<img src="images/ecosystems2.jpg" alt="Ecosystems supported" />
													<img src="images/ecosystems3.jpg" alt="Ecosystems supported" />
													<br/>&nbsp;
												</li>
												<li>Within the same “family” of macro scripting languages<br/>
													<img src="images/scripting_language1.jpg" alt="Macro scripting languages" />
													<img src="images/scripting_language2.jpg" alt="Macro scripting languages" />
													<br/>&nbsp;
												</li>    
											</ul>
				
										</article>

								</div>
							</div>
							<div class="col-4 col-12-narrower">
								<div id="sidebar">

									<!-- Sidebar -->
										<section>
											<h3>Important notices</h3>
											<p>The user:</p>
											<ul>
												<li>Must enable macros!</li>
												<li>Review and clear security optionsrelated with macros and protected view in the text editor!</li>
												<li>Should ensure that is downloading the last version! 
													<br/>(The name of the zip file have the following structure: 
													3 characters for version + date version as yyyymmdd + last 
													compilation for date)
												</li>
											</ul>
										</section>

										<section>
											<h3>New version 2.x</h3>
											<p>A new desktop version of the Active It Audit Hanbook (2.x) was developed in mid 2018.
											Is much more than a new look…
											</p>
											<footer>
												<a href="newsdesktopv2" class="button">Continue Reading</a>
											</footer>
										</section>

										<section>
											<!--acommodate till 6 links-->
											<h3>Download links</h3>
											<ul class="links">
												<li><a target="_blank" href="https://onedrive.live.com/?authkey=!AGwKP7IDEkO56vI&id=9AE3DF5D4E1A32A9!6037&cid=9AE3DF5D4E1A32A9">Desktop Version</a></li>
											</ul>
										</section>

								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
			<% include partials/footer %>

		</div>

		<!-- Scripts -->
		<%- include partials/scripts -%>

	</body>
</html>