<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Active IT Audit Handbook</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<% include partials/header %>

			<!-- Banner -->
			<% include partials/banner %>

			<!-- Highlights -->
			<% include partials/highlights %>

			<!-- Gigantic Heading -->
			<% include partials/giganticheader %>

			<!-- Posts -->
			<% include partials/posts %>

			<!-- CTA -->
			<% include partials/cta %>

			<!-- Footer -->
			<% include partials/footer %>
		</div>

		<!-- Scripts -->
		<%- include partials/scripts -%>

	</body>
</html>