<h1>Global Risk Characterization</h1>
<canvas id="chartjs-GRC" class="chartjs" width="undefined" height="undefined"></canvas>
<script>new Chart(document.getElementById("chartjs-GRC"),
    {"type":"doughnut",
        "data":{"labels":["High","Medium","Low"],
        "datasets":[
        {
            "label":"My First Dataset",
            "data":[300,50,100],
            "backgroundColor":["rgb(255, 99, 132)","rgb(255, 205, 86)", "rgb(54, 162, 235)"]
        }
        ]}
    }
);
 </script>
